{% extends 'base.html' %} 

{% block container %}
<form action="">
    <label for="building"><b>Search by building first</b></label><br>
    <input type="text" placeholder="Enter Building Name" name="building">
    <br>
    <button type="submit" class="login-btn">Search</button>
</form>
<br>
<hr>
<ul class="flex-container">
    <li class="flex-item"><button type="button" onclick="">Silver School of Arts and Science</button></li>
    <li class="flex-item"><button type="button" onclick="">Student Link Center (Manhattan)</button></li>
    <li class="flex-item"><button type="button" onclick="">Elmer Holmes Bobst Library</button></li>
    <li class="flex-item"><button type="button" onclick="">Kimmel Center for University Life</button></li>
    <li class="flex-item"><button type="button" onclick="">6 MetroTech Center, Brooklyn</button></li>
    <li class="flex-item"><button type="button" onclick="">Student Link Center (Brooklyn)</button></li>
</ul>
{% endblock %}