{% extends 'base.html' %} 

{% block container %}
<form action="">
    <label for="building"><b>Search by Floor now</b></label><br>
    <input type="text" placeholder="Enter Floor Number" name="building">
    <br>
    <button type="submit" class="login-btn">Search</button>
</form>
<br>
<hr>
<ul class="flex-container">
    <li class="flex-item"><button type="button" class="floor-btn" onclick="">Floor 1</button></li>
    <li class="flex-item"><button type="button" class="floor-btn" onclick="">Floor 2</button></li>
    <li class="flex-item"><button type="button" class="floor-btn" onclick="">Floor 3</button></li>
    <li class="flex-item"><button type="button" class="floor-btn" onclick="">Floor 4</button></li>
    <li class="flex-item"><button type="button" class="floor-btn" onclick="">Floor 5</button></li>
    <li class="flex-item"><button type="button" class="floor-btn" onclick="">Floor 6</button></li>
</ul>
{% endblock %}