* {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

form {
    padding-top: 1rem;
}

form > button {
    margin-top: .3rem;
}

form > input {
    margin-top: .3rem;
    margin-bottom: .6rem;
}

.flex-container {
    /* We first create a flex layout context */
    display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: column wrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .flex-item {
    background: #949494;
    padding: 5px;
    width: 500px;
    height: 65px;
    margin-top: 10px;
    line-height: 55px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }

button {
    padding: 10px;
}

.login-btn {
    padding: 3px;
}

.floor-btn {
    padding-left: 50px;
    padding-right: 50px;
}